
.titulo_portada{
font-family: 'Alfa Slab One', cursive;
	font-size: 53px;
    position:absolute;
    top:300px;
    color: white;
    margin-left: 150px;
}
.navegacion{

	height: 50px;
	background: #FFD464;
	display: flex;
	align-items:center;


}

.navEsteban{
	font-family: 'Patua One', cursive;
	font-size: 40px;
	
	color: #EC767E;
	
	padding-left: 40px;
	margin-top: 40px;
	margin: 0px;
	width: 260px;
	display: flex;    
}


.titulo1{
    font-family: 'Patua One', cursive;
	font-size: 40px;
    margin-right: 360px;
    
    color: #EC767E;
    margin-top: 20px;
}

.titulo{
    
    font-family: 'Patua One', cursive;
	font-size: 40px;
    
     color: #EC767E;
     margin-top: 20px;
}


.carac{
    
    display: flex;
    width: 1800px;
}

.resu{
    color: #333333;  
    margin-top: -5px;
   
    font-family: 'Catamaran', cursive;
    
}

.ver{
    color: #ffffff;  
    
    font-family: 'Catamaran', cursive;
    
}

.objetivo{
     top: -520px;  
    position: relative;
    left: 50px;
    width: 600px;
   margin: 0 auto;
    margin-left: 480px;
    
}

.descri{
      top: 5px;  
    position: relative;
    padding-right: 160px;
   margin: 0 auto;
    
    color: #333333;
    font-family: 'Catamaran', cursive;
    
}

.tende{
    
       top: -480px;  
    position: relative;
    left: 50px;
    
    display: inline-block;
}

.ver_mas{ 
    
    
    background: #432C51;
    border-radius: 20px;
    
    position: relative;
    margin-bottom: 60px;
    text-align: center;
    
   
    padding-left: 22Px;
    padding-right: 22PX;
    width: 905PX;
    margin: 0 auto;
    margin-bottom: 20px;
    top: 10px;
    left: 38px;
}



.sub{
    color: #ffffff;  
    font-weight: 500;
    font-family: 'Catamaran', cursive;
    background: #513B60;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 40px;
}


.info_resu{
   
    width:412px;
    height: 180px;
    
    
    
    background:#F0EEF3;
    
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    
    
    display: inline-block;

    
    margin-left: 40px;
}

.info_publi{
    
    width:412px;
    height: 180px;
    
    background:#F0EEF3;

    padding-left: 20px;
    
    border-radius: 15px;
     padding-right: 20px;
    
    display: inline-block;
 
    margin-left: 40px;
}

.imagen4{
	height: 256px;
	width: 450px;
	background-image: url(Imagenes_proyecto/glenn-carstens-peters-190592.jpg);
	background-size: cover;
	border-radius: 10px;
    top: -525px;  
    position: relative;
    left: 480px;
    margin-left: 40px;
    display: inline-block;
	
}


.navegacion-menu{


	display: flex;
}


.mensaje {
	margin-left: -20px;
	margin-right: 30px;
}

.logo{
	padding-left: 50px;
}

.boton{
	font-family: 'Catamaran', sans-serif;
	font-weight: bold;
	color: #432C51;
	background-color: white;
	height: 20px;
	width: 70px;
	border-radius: 5px;
	border-width: thin;
	border-color: #432C51;
	font-size: 14px;
	text-align: center;
	margin-left: 30px;
	padding-bottom: 23px;
	cursor: pointer;
}

.buscar{
    
	height: 27px;
	width: 50px;
	background-color: white;
	border-bottom-right-radius: 100px;
	border-top-right-radius: 100px;
	border-width: thin;
	margin-left: -1px;
	border-color: #432C51;
	cursor: pointer;

}
.buscarResponsive{

	display: none;

}


/*BODY*/

.perfil{

	background: #CD767E;
	height: 1000px;
	width: 300px;
	display: flex;
	float: left;
    
}

.contenidoPerfil{

    
	width: 300px;
	display: block;
	text-align: center;
	margin: 0 auto;

}

.fotoPerfil{

	border-radius:100px;
	display: inline-block;
	margin-top: 50px;
}

.descripcion{
	line-height: 1.3;
	font-family: 'Catamaran', sans-serif;
	font-size: 14px;
	color: white;

}

.mensajePerfil{
	width: 240px;
	height: 34px;
	background: white;
	border-radius: 7px;
	border-width: thin;
	border-color: #432C51;
	color: #432C51;
	font-family: 'Catamaran', sans-serif;
	font-size: 14px;
	cursor: pointer;
	background-image: url(Imagenes/mensajePerfil.png);
	background-repeat: no-repeat;
	background-position: center left 10px;
	margin-bottom: 7px;
}

.Agendar{
	width: 240px;
	height: 34px;
	background: white;
	border-radius: 7px;
	border-width: thin;
	border-color: #432C51;
	color: #432C51;
	font-family: 'Catamaran', sans-serif;
	font-size: 14px;
	cursor: pointer;
	background-image: url(Imagenes/Agendar.png);
	background-repeat: no-repeat;
	background-position: center left 10px;
	margin-bottom: 30px;
}

span.textoBoton{
	margin-left: -90px;
}

.skills{

	float: left;
}

.destacados{
	line-height: 1.3;
	font-family: 'Catamaran', sans-serif;
	font-size: 16px;
	color: white;

}

.listaDestacados{

	list-style-image: url(Imagenes/bullet.png);
	margin: 0;
	padding: 0;


}

.liDesta{

	display: list-item;
	float: left;
	text-align: left;
	width: 160px;
	padding: 0;
	margin-left: 20px;

}

span.sitioTrabajo{
	font-weight: bold;
}

.slider{

	height: 349px;
	
	background-image: url(Imagenes_proyecto/portada_2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;

}


.contenedor{

    height: 1000px;    
	width: 100%;
	
    
}

.contenedorProyectos{

    height: 0px;
	width: 20px;
	
	float: left;
    
    margin-left: 40px;
}

.MisProyectos{

	height: 75px;
	width: 100%;
 margin-top: 30px;
    
    
	display:flex;
	align-items: center;
	justify-content: space-between;



}

.barraBuscar{
	display: flex;
	float: right;



}

.buscarProyecto{

	height: 27px;
	width: 250px;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	border-width: thin;
	border: 2px solid #cccccc;
	background: #f2f2f2;
	font-family: 'Catamaran', sans-serif;
	font-size: 14px;
	padding: 7px 5px 5px 10px;

}

.buscarProBo{

	height: 27px;
	width: 50px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-width: thin;
	border: 2px solid #cccccc;
	background: #f2f2f2;
	margin-left: -6px;
	display: inline-flex;
	align-self: center;


}
.coleccion{
	display: inline-block;
	height: 270px;
	background: #f0eef3;
	border-radius: 10px;
	margin-left: 40px;
	margin-bottom: 20px;

}


.tituloDescripcion{
	width: 600px;
	float: left;
}

.like{
	display: flex;
	width: 100%;
	vertical-align: middle; 
	display:flex;
	width:26px; 
	float: right; 
	margin-top: 25px; 
	margin-right: 20px
}

/*FOOTER*/

footer{

	background: #432c51;
	vertical-align: middle;
	background-image: url(Imagenes/texturaFooter.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.footer{

	height: 310px;
	width: 100%;
	display: flex;
	justify-content: center;
	color: white;
	margin: 0 auto;

}

.titleFooter{

	font-family: 'Patua One', cursive;
	font-size: 20px;
	letter-spacing: 0.5px

}

.pFooter{

	line-height: 1.3;
	font-family: 'Catamaran', sans-serif;
	font-size: 15px;

}

.aFooter{

	color: white;
}

.sobre{
	width: 250px;
	padding-right: 40px;
	padding-left: 20px;
	padding-top: 50px;
	align-self: flex-start
}

.siguenos{
	width: 250px;
	padding-right: 40px;
	padding-top: 50px;
	align-self: flex-start

}

.boletin{
	width: 250px;
	padding-right: 40px;
	padding-top: 50px;
	align-self: flex-start
}

.aplicacion{
	width: 250px;
	padding-top: 50px;
	align-self: flex-start
}

input[type="correo"] {
	height: 17px;
	width: 190px;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	border: 2px solid #ffffff;
	background: none;
	font-family: 'Catamaran', sans-serif;
	font-size: 14px;
	padding: 7px 5px 5px 10px;
	color: white;
}

.correo::-webkit-input-placeholder {
	color: white;
	opacity: 0.3;
}

.enviar {
	height: 33px;
	border-bottom-right-radius: 100px;
	border-top-right-radius: 100px;
	color: white;
	border: 2px solid #ffffff;
	background: none;
	margin-left: -6px;
	cursor: pointer;
}

.derechos{
	margin-top: -10px;
	background: #A25174;
	font-family: 'Catamaran', sans-serif;
	font-size: 9px;
	color: #432C51;
	text-align: center;

}

.texturaF1{
	vertical-align: middle;
	margin-left: -400px;
}

.texturaF2{

}

nav{

	display: flex;
	align-items: center;
	margin: 0 auto;

}

a{
	font-family: 'Catamaran', sans-serif;
	text-decoration: none;
	color: #432C51;
}

li{

	display: inline-block;
	padding: 0px 0px 0px 50px;
	font-size: 16px;
}

strong {
    color: #ec767e;
}

h3{
	font-family: 'Patua One', cursive;
	font-size: 20px;
	letter-spacing: 0.5px;
	color: #432C51;
}

h4{
	font-family: 'Catamaran', sans-serif;
	color: #432C51;
	margin-top: -20px;
	margin-bottom: 0px;
	font-weight:100;
	font-size: 14px;
}

h5{
	margin: 0;
    margin-top: 20px;
	font-family: 'Catamaran', cursive;
	font-size: 17px;
	letter-spacing: 0.5px;
	color: white;
	font-weight: 100;
    text-align: center;  
    
}




.confi{
    
    margin-top: 420px;
}

H6{
	font-family: 'Patua One', cursive;
	font-size: 40px;
	letter-spacing: 0.5px;
	color: #EC767E;
	font-weight: 100;
	padding-left: 40px;
	margin-top: 40px;
	margin: 0px;
	width: 260px;
	display: flex;    
}

h7{
	font-family: 'Catamaran',sans-serif;
	font-size: 27px;

	color: #432C51;
	font-weight: 100;

    margin-bottom: 0px;
	margin-top: 17px;
	display: flex;

}

.DescripcionP{
	border-color: #432C51;
	font-family: 'Catamaran', sans-serif;
	color: #432C51;
	font-size: 14px;
	padding-left: 40px;
	margin-top: 0px;
}

input {

	height: 27px;
	width: 250px;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	border-width: thin;
	border-color: #432C51;
	font-family: 'Catamaran', sans-serif;
	font-size: 14px;
	padding: 7px 5px 5px 10px;
}

body{
	margin: 0;
}

/*hovers*/

a:hover { 
	color: #FA5B75;
}

.destacados:hover{
	color: #432C51;
}

header label:hover{
	cursor: pointer;
}

/*responsive*/

#boton-menu{
	display: none;
}

header label{

	display: none;
	width: 30px;
	height: 3opx;
	padding: 20px;

}

@media (max-width:1580px) {


	nav li{
		
		padding: 10px;

		
	}
	.mensaje{
		margin: 0px;
	}



}


@media (max-width:1359px) {

	/*responsive nav*/

	.textura{
		display: none;
	}


	.buscarNavegador{
		display: none;

	}
	.buscar{
		display: none;
		width: 0px;
		padding: 0px;
		margin: 0px;
	}

	.buscarResponsive{
		display: block;
		height: 27px;
		width: 50px;
		background-color: white;
		border-radius: 10px;
		border-width: thin;
		margin-right: 20px;
		border-color: #432C51;
		cursor: pointer;
	}

	.logo{
		margin: 0 auto;
		padding: 0px;

	}

	.boton{
		display: none;
	}

	header label{
		display: block;
	}

	header label:hover{
		background: rgba(0,0,0,0.1);


	}

	nav {
		display: inline-block;
		margin-top: 125px;
		background: #432C51;
		z-index: 1; 
		position: absolute;
		width: 100%;
		margin-left: -140%;
		transition: 0.2s;

	}

	nav li {

		width: 400px;
		text-align: center;
		padding: 0px;
		border-bottom: 1px;
		border-top: 1px  solid #CD767E;
		padding: 0px;
		

	}

	nav a{
		color: white;
	}


	.navegacion-menu { 

		flex-direction: column;
		align-items: center;
		

	}
	
	

	.mensaje{
		margin-bottom: 0px;
		margin: 0px;
	}


	#boton-menu:checked ~ nav{
		margin-left: 0px;
	}

	/*responsive content*/

	.slider{
		display: none;
	}


	.perfil{
		width: 100%;
       
		
		display:flex;
		margin-bottom: 20px;
	}

	.contenidoPerfil{
		width: 100%;
        height: 500px;
	}

	

	.descripcion{
		padding-left: 20px;
		padding-right: 20px;
	}

	h5{
		padding-top: 20px;
	}

	h3{
		color: white;
		font-weight: lighter;

	}
	h4{
		color: white;
	}

	

	input[type="correo"] {
		width: 66px;
	}

}

@media (max-width:870px) {
	/*Colecciones*/

	.MisProyectos{
       
		margin: 0px;

	}

	.contenedorProyectos{
		width: 100%;
	}

	.coleccion{	
		width: 100%;
		height: auto;
		margin: 5px;
	}

	h6{
	}


	.imagen1{
		height: 300px;
		width: 100%;
		background-image: url(Imagenes/freestocks-org-182581.jpg);
		background-size: cover;
		background-position: center;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		display:inline-block;
	}

	.imagen2{
		height: 300px;
		width: 100%;
		background-image: url(Imagenes/pasarela.jpg);
		background-size: cover;
		background-position: center;
		display:inline-block;
		margin-top: -4px;
		margin-left: 1px;
		margin-right: 1px;

	}

	.imagen3{
		height: 300px;
		width: 100%;
		background-image: url(Imagenes/urbano.jpg);
		background-size: cover;
		background-position: 0px;
		display:inline-block;
		margin-top: -10px;
		margin-left: 1px;
		margin-right: 1px;
	}

	.imagen4{
		height: 300px;
		width: 100%;
		background-image: url(Imagenes/selva.jpg);
		background-size: cover;
		background-position: center;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		display:inline-block;
	}

	.imagen5{
		height: 300px;
		width: 100%;
		background-image: url(Imagenes/desierto.jpg);
		background-size: cover;
		background-position: center;
		display:inline-block;
		margin-top: -4px;
		margin-left: 1px;
		margin-right: 1px;

	}

	.imagen6{
		height: 300px;
		width: 100%;
		background-image: url(Imagenes/pareja.jpg);
		background-size: cover;
		background-position: 0px;
		display:inline-block;
		margin-top: -10px;
		margin-left: 1px;
		margin-right: 1px;
	}

	.footer{
		height: auto;
		margin-bottom: 60px;
	}


}


@media (max-width:662px){

	.barraBuscar{
		display: none;
	}

	h7{
		padding: 10px;
		display: inline-block;
		text-align: center;
	}

	.DescripcionP{
		margin-top: -20px;
		padding: 10px;
	}

	.tituloDescripcion{
		display: inline-block;
		width: 100%;
		text-align: center;
		margin-bottom: -30px;
	}

	.like{

		display:flex;
		justify-content: center;
		width: 100%;
		padding-top: 10px;
		margin: 0 auto;
	}


	/*Footer*/

	footer{
		height: auto;
		display: inline-block;
		width: 100%;
	}

	.footer{
		height: auto;
		margin: 0 auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;

	}

	.sobre{
		display: block;
		text-align: center;
		align-self: center;
		padding: 0px;
		padding-top: 10px;
		margin-bottom: 15px;
	}


	.siguenos{
		padding-right: 0px;
		text-align: center;
		padding-top: 5px;
		margin-bottom: 15px;

		align-self: center;
		border-top: 1px  solid #CD767E;

	}

	.boletin{
		padding-right: 0px;
		text-align: center;
		margin-bottom: 15px;

		padding-top: 5px;
		align-self: center;
		border-top: 1px  solid #CD767E;
	}

	.aplicacion{

		padding-right: 0px;
		text-align: center;
		padding-top: 5px;
		align-self: center;
		border-top: 1px  solid #CD767E;
	}
	.derechos{
		display: inline-block;
		width: 100%;
	}


}

@media (max-width:350px){
	h6{
		padding: 10px;
		display: inline-block;
		text-align: center;
		font-size: 30px;
		margin-top: -20px;
	}
	.coleccion{
		margin: 3px;
	}
}






/*------------------------------------------*/
.container {
	
	font: 87.5%/1.5em 'catamaran', sans-serif;
	margin: 0;
    margin-left: 40px;
    display: inline-block;
    margin-top: 15px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
    width: 395px;
}

td {
	padding: 0;
}

.container {
	
}

.calendar-container {
	position: relative;
	width: 450px;
}

.calendar-container header {
	border-radius: 1em 1em 0 0;
	background: #513B60;
	color: #fff;
	padding: 3em 2em;
}

.day {
	font-size: 8em;
	font-weight: 900;
	line-height: 1em;
}

.month {
	font-size: 4em;
	line-height: 1em;
	text-transform: lowercase;
}

.calendar {
	background: #fff;
	border-radius: 0 0 1em 1em;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	color: #555;
	display: inline-block;
	padding: 2em;
}

.calendar thead {
	color: #e66b6b;
	font-weight: 700;
	text-transform: uppercase;
}

.calendar td {
	padding: .5em 1em;
	text-align: center;
}

.calendar tbody td:hover {
	background: #cacaca;
	color: #fff;
}

.current-day {
	color: #e66b6b;
}

.prev-month,
.next-month {
	color: #cacaca;
}

.ring-left,
.ring-right {
	position: absolute;
	top: 230px;
}

.ring-left { left: 2em; }
.ring-right { right: 2em; }

.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	content: "";
	display: inline-block;
	margin: 8px;
	height: 32px;
	width: 8px;
}